Здравствуйте{{if .UserName}}, {{.UserName}}{{end}}!

Пароль для учетной записи {{index .Meta "email"}} успешно изменен.

Теперь для входа используйте новый пароль.

Если вы не меняли пароль, сразу выполните сброс пароля и свяжитесь с поддержкой.
