Поступил запрос на смену email для вашей учётной записи администратора.
Текущий email: {{.OldEmail}}
Новый email: {{.NewEmail}}

Если это были не вы, срочно свяжитесь с поддержкой.
{{if .IP}}IP запроса: {{.IP}}{{end}}
